/* app css stylesheet */
[dw-loading] {
    min-height: 100%;
}
.dw-loading.dw-loading-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}
.dw-loading > .dw-loading-body > .dw-loading-text {
    color: #fff;
    text-shadow: none;
}

.performance-block {
    overflow: hidden;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 20px;
    text-align: center;
}

.performance-block a {
    display: block;
}

.performance-img img {
    max-width: 100%;
    max-height: 100%;
}

#slides_control > div {
    max-width: 1000px;
    max-height: 400px;
    margin: 0 auto;
}

#slides_control {
    margin: 25px auto;
}

.timeline-badge.info {
    background-color: #df442b !important;
}

.about-img {
    max-width: 100%;
}.right-news-sidebar {
    position: relative;
}
news-block {
    display: inline-block;
    width: 350px;
}