<ul class="breadcrumb">
    <li><a ui-sref="app.home">{{ 'menu.home' | translate }}</a></li>
    <li><a ui-sref="app.repertoire">{{'menu.repertoire' | translate}}</a></li>
    <li class="active">{{performance.title}}</li>
</ul>
<h2>{{performance.title}}</h2>
<div class="row">
    <div class="performance-img col-xs-3">
        <div class="performance-block">
            <img ng-src="{{performance.performancePoster}}" alt="{{performance.title}}"/>
        </div>
    </div>
    <div class="media-block col-xs-6" >
        <div ng-controller="ImageCarouselCtrl" style="height: 305px">
            <carousel interval="myInterval">
                <slide ng-repeat="slide in performance.images" active="slide.active">
                    <img ng-src="{{slide.source}}" style="margin:auto;">
                    <div class="carousel-caption">
                        <p>{{slide.text}}</p>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
    <ul class="performance-dates col-xs-3">
        <li ng-repeat="date in performance.dates">
            {{date.month}}, {{date.day}}, {{date.weekDay}}, {{date.time}}, {{performance.title}}
            {{performance.shortDescription}}
        </li>
    </ul>
</div>

<div ng-controller="PerfTabsCtrl">
    <tabset>
        <tab heading="{{ 'performance.description' | translate }}">
            {{performance.description}}
        </tab>
        <tab heading="{{ 'performance.team' | translate }}">
            <div ng-controller="PaginationCtrl">
                <ul class="performance-actors">
                    <li ng-repeat="member in teamInfo.team">
                        {{member.title}}
                        {{member.description}}
                        <a href="app.personDetails({id: member.employee.slug})">{{member.employee.first_name +  ' ' + member.employee.middle_name + ' ' + member.employee.last_name}}</a>
                        {{member.employee.position}}
                        <img ng-src="{{member.employee.photo}}" alt="{{member.title}}" style="height: 100px"/>
                    </li>
                </ul>
                <pagination total-items="totalItems" ng-change="setPage()" ng-model="currentPage" max-size="maxSize" items-per-page="itemPerPage" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
            </div>
        </tab>
        <tab heading="{{ 'performance.press' | translate }}">
            <ul class="article-list">
                <li ng-repeat="article in performance.press">
                    <a href="{{article.link}}">{{article.title}}</a>
                </li>
            </ul>
        </tab>
    </tabset>
</div>
