<main class="play">
    <div class="wrapp">
        <ul class="crumb">
            <li><a ui-sref="app.home">{{ 'menu.home' | translate }}</a></li>
            <li><a ui-sref="app.repertoire">{{'menu.repertoire' | translate}}</a></li>
            <li class="active">{{performance.title}}</li>
        </ul>
        <form method="get" action="">
            <fieldset class="search">
                <ul>    
                    <li><input type="text" name="search" placeholder="пошук" /></li>
                    <li><input type="submit" value="Пошук" /></li>
                    <li class="search-results"><p class="number-results">11 результатів</p><span class="close-results"></span></li>
                </ul>    
            </fieldset>
        </form>
        <div class="page-title">
            <h2>{{performance.title}}</h2>
        </div>
        
        <section>
           <img class="play-img" ng-src="http://api.theatre.pp.ua/{{performance.mainPicture.reference.url}}" alt="{{performance.title}}"/>
            <ul class="menu-programm">
                <li ng-repeat="date in dates">
                     <div class="block-data">
                        <span class="day">{{date.weekDay | translate}}</span>
                        <span class="number">{{date.day}}</span>
                        <span class="month">{{date.month | translate}}</span>
                    </div>
                    <div class="block-description">
                        <h3><a href="#">{{performance.title}}</a></h3>
                        <p>{{performance.title}}</p>
                        <p>{{date.time}}</p>
                    </div>
                </li>
           </ul>                     
            <div class="media-block slide" >
                <div ng-controller="ImageCarouselCtrl" style="height: 305px">
                    <carousel interval="myInterval">
                        <slide ng-repeat="slide in slides" active="slide.active">
                            <img ng-src="{{slide.source}}" style="margin:auto;">
                            <div class="carousel-caption">
                                <p>{{slide.text}}</p>
                            </div>
                        </slide>
                    </carousel>
                </div>
            </div>
            
            
            <div class="test" ng-controller="PerfTabsCtrl">
                <tabset>
                    <tab heading="{{ 'performance.team' | translate }}">
                        <div ng-controller="PaginationCtrl">
                            <ul class="performance-actors">
                                <li ng-repeat="role in roles">
                                    {{role.title}} <br/>
                                    {{role.description}}<br/>
                                    <a ui-sref="app.personDetails({id: role.employee.slug})">{{role.employee.first_name +  ' ' + role.employee.middle_name + ' ' + role.employee.last_name}}</a> <br/>
                                    {{role.employee.position}} <br/>
                                    <img ng-src="http://api.theatre.pp.ua/{{role.employee.avatar.employee_small.url}}" alt="{{role.title}}" style="height: 100px"/>
                                </li>
                            </ul>
                            <!--<pagination total-items="totalItems"-->
                                        <!--ng-change="setPage()"-->
                                        <!--ng-model="currentPage"-->
                                        <!--max-size="maxSize"-->
                                        <!--items-per-page="itemPerPage"-->
                                        <!--class="pagination-sm"-->
                                        <!--boundary-links="true"-->
                                        <!--rotate="false"-->
                                        <!--num-pages="numPages">-->
                            <!--</pagination>-->
                        </div>
                    </tab>
                    <tab heading="{{ 'performance.description' | translate }}">
                        {{performance.description}}
                    </tab>
                    <!--<tab heading="{{ 'performance.press' | translate }}">-->
                        <!--<ul class="article-list">-->
                            <!--<li ng-repeat="article in performance.press">-->
                                <!--<a href="{{article.link}}">{{article.title}}</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</tab>-->
                </tabset>
            </div>
        </section>
    </div>
    <a class="up" href="javascript:scroll(0,0)"></a>
</main>