<div ng-include="'views/shared/menu.html'"></div>

<main role="main">
    <div class=" homepage-slider carousel slide" ng-controller="HomepageCarousel">
        <div class="carousel-inner" role="listbox">
            <div class="item" ng-repeat="slide in slides track by $index" ng-class="{
                active: activeSlideIndex == $index,
                next: activeSlideIndex < $index,
                prev: activeSlideIndex > $index
            }">
                <img ng-src="{{slide.performance.sliderImage.slider_slider.url}}" style="margin:auto; height: 500px;">
            </div>
        </div>
        <div class="wrapp-panel">
            <div class="second-wrapp">
                <ol class="carousel-indicators">
                    <li ng-repeat="slide in slides track by $index" ng-class="{
                        active: activeSlideIndex == $index
                    }">
                        <div class="date-slide" ng-click="selectSlide($index)">
                            <span class="day">{{slidesDate(slide.date_time).weekDay | translate}}</span>
                            <span class="number">{{slidesDate(slide.date_time).day | translate}}</span>
                            <span class="month">{{slidesDate(slide.date_time).month | translate}}</span>
                        </div>
                        <div class="discription-slide">
                            <h2><a ui-sref="app.singlePerformance({slug: slide.performance.slug})">{{slide.performance.title}}</a></h2>
                            <p>{{slide.performance.type}}</p>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>

   
   
    <div class="wrapp">

        <!--TODO: insert search field here-->

        <aside-menu></aside-menu>

        <aside class="right-sitebar">
            &nbsp;
            <!--<h2>{{'last.photo' | translate}}</h2>-->
            <!--<div class="catalog">-->
                <!--<img src="img/gallery.jpg" alt="">-->
                <!--<p>-->
                    <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit.-->
                <!--</p>-->
            <!--</div>-->
            <!--<h2>{{'last.video' | translate}}</h2>-->
            <!--<div class="video catalog">-->
                <!--<iframe src="https://www.youtube.com/embed/RKfElR19sag?rel=0&amp;controls=0&amp;showinfo=0" allowfullscreen></iframe>-->
                <!--&lt;!&ndash;                        <span id="play" class="play"></span>&ndash;&gt;-->
                <!--<p>-->
                    <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit.-->
                <!--</p>-->
            <!--</div>-->

        </aside>
        <section class="main-page">
            <h2 class="page-title">{{'menu.news' | translate}}</h2>
            <article class="catalog" ng-repeat="article in news">
                <a ui-sref="app.newsDetail({id: article.slug})">
                    <img ng-src="{{article.mainPicture.post_big.url}}" alt="{{article.title}}">
                </a>
                <h3><a ui-sref="app.newsDetail({id: article.slug})">{{ article.title }}</a></h3>
                <p class="topic">{{ article.short_description }}</p>
                <footer class="article-footer">
                    <time>{{article.updated_at | date: 'dd.MM.yyyy'}}</time>
                </footer>
            </article>
        </section>
    </div>
    <a class="up" href="javascript:scroll(0,0)"></a>
</main>

<div ng-include="'views/shared/footer.html'"></div>
