<main>
    <div class="homepage-slider carousel slide" ng-controller="HomepageCarousel">

        <div class="carousel-inner" role="listbox">
            <div class="item" ng-repeat="slide in slides track by $index" ng-class="{
                active: activeSlideIndex == $index,
                next: activeSlideIndex+1 == $index,
                prev: activeSlideIndex-1 == $index
            }">
                <img ng-src="http://api.theatre.pp.ua/{{slide.performance.mainPicture.reference.url}}" style="margin:auto; height: 300px;">
            </div>
        </div>

        <ol class="carousel-indicators">
            <li ng-repeat="slide in slides track by $index" ng-click="selectSlide($index)" ng-class="{
                active: activeSlideIndex == $index,
                next: activeSlideIndex+1 == $index,
                prev: activeSlideIndex-1 == $index
            }">
                <div class="date-slide">
                    <span class="day">{{slidesDate(slide.date_time).weekDay | translate}}</span>
                    <span class="number">{{slidesDate(slide.date_time).day | translate}}</span>
                    <span class="month">{{slidesDate(slide.date_time).month | translate}}</span>
                </div>
                <div class="discription-slide">
                    <h2><a ui-href="app.singlePerformance({slug: slide.performance.slug})">{{slide.performance.title}}</a></h2>
                    <p>{{slide.performance.type}}</p>
                </div>
            </li>
        </ol>
    </div>

    <div class="wrapp">

        <aside-menu></aside-menu>

        <aside class="right-sitebar">
            <h2>{{'last.photo' | translate}}</h2>
            <div class="catalog">
                <img src="img/gallery.jpg" alt="">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
            </div>
            <h2>{{'last.video' | translate}}</h2>
            <div class="video catalog">
                <iframe src="https://www.youtube.com/embed/RKfElR19sag?rel=0&amp;controls=0&amp;showinfo=0" allowfullscreen></iframe>
                <!--                        <span id="play" class="play"></span>-->
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
            </div>
        </aside>
        <section class="main-page">
            <h2>{{'menu.news' | translate}}</h2>
            <article class="catalog" ng-repeat="article in news">
                <img src="http://lorempixel.com/400/200/cats" alt="">
                <h3><a ui-sref="app.newsDetail({id: article.slug})">{{ article.title }}</a></h3>
                <p class="topic">{{ article.short_description }}</p>
                <footer class="article-footer">
                    <time datetime="2015-02-12">12.02.2015</time>
                    <!--<small class="view"><span>112</span></small>-->
                </footer>
            </article>
        </section>
    </div>
    <a class="up" href="javascript:scroll(0,0)"></a>
</main>