<main>
    <div class="homepage-slider" ng-controller="HomepageCarouselCtrl">
        <homepage-carousel interval="myInterval" slides="slides">
            <homepage-slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="http://api.theatre.pp.ua/{{slide.performance.mainPicture.reference.url}}" style="margin:auto; height: 300px;"></homepage-slide>
        </homepage-carousel>
    </div>

    <div class="wrapp">

        <aside-menu></aside-menu>

        <aside class="right-sitebar">
            <h2>{{'last.photo' | translate}}</h2>
            <div class="catalog">
                <img src="img/gallery.jpg" alt="">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
            </div>
            <h2>{{'last.video' | translate}}</h2>
            <div class="video catalog">
                <iframe src="https://www.youtube.com/embed/RKfElR19sag?rel=0&amp;controls=0&amp;showinfo=0" allowfullscreen></iframe>
                <!--                        <span id="play" class="play"></span>-->
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
            </div>
        </aside>
        <section class="main-page">
            <h2>{{'menu.news' | translate}}</h2>
            <article class="catalog" ng-repeat="article in news">
                <img src="http://lorempixel.com/400/200/cats" alt="">
                <h3><a ui-sref="app.newsDetail({id: article.slug})">{{ article.title }}</a></h3>
                <p class="topic">{{ article.short_description }}</p>
                <footer class="article-footer">
                    <time datetime="2015-02-12">12.02.2015</time>
                    <!--<small class="view"><span>112</span></small>-->
                </footer>
            </article>
        </section>
    </div>
    <a class="up" href="javascript:scroll(0,0)"></a>
</main>