<aside class="left-sitebar">
    <ul class="uppercase aside-nav">
        <li>
            <a ui-sref="app.photos">
                <span class="nav-icon nav-photo"></span>
                <span ng-bind="'menu.photoarchive' | translate"></span>
            </a>
        </li>
        <li>
            <a ui-sref="app.videos">
                <span class="nav-icon nav-video"></span>
                <span ng-bind="'menu.videoarchive' | translate"></span>
            </a>
        </li>
        <li>
            <a ui-sref="app.board">
                <span class="nav-icon nav-care"></span>
                <span ng-bind="'menu.board' | translate"></span>
            </a>
        </li>
        <li>
            <a ui-sref="app.partners">
                <span class="nav-icon nav-parters"></span>
                <span ng-bind="'menu.partners' | translate"></span>
            </a>
        </li>
        <li>
            <a href="http://forumua.org/viewtopic.php?f=2&t=233364&start=120">
                <span class="nav-icon nav-forum"></span>
                <span ng-bind="'menu.forum' | translate"></span>
            </a>
        </li>
    </ul>
</aside>