<aside>
    <div class="booking">
        <header>
            <h2 class="title-booking">Ваші квитки</h2>
            <span class="title-show">{{perfomance.performance.title}}</span>
            <span class="title-hall-place">{{perfomance.venue}}</span>
        </header>
        <ul class="bought-place-info">
            <li class="booking-place" ng-repeat="orders in orders track by $index">
                <dl>
                    <dt>Ряд</dt><dd>{{orders.row}}</dd>
                    <dt>Місце</dt><dd>{{orders.sit}}</dd>
                    <dt>Ціна</dt><dd>{{orders.cost}} грн</dd>
                </dl>
                <button class="btn btn-link btn-close-place" ng-click="deleteItem($index)"><span class="glyphicon glyphicon-remove"></span></button>
            </li>
        </ul>
        <footer>
            <dl>
                <dt>Всього:</dt><dd>0грн</dd>
            </dl>
            <button class="pay-btn">Оплатити</button>
        </footer>

    </div>
</aside>