<aside>
    <div class="booking">
        <header>
            <h2 class="title-booking">{{'booking.yourTickets' | translate}}</h2>
            <h3>
                <span class="title-show">{{perfomance.performance.title}}</span>
                <span class="day">{{perfomanceDate.weekDay | translate}}</span>
                <span class="number">{{perfomanceDate.day}}</span>
                <span class="month">{{perfomanceDate.month | translate}}</span>
                <span class="month">{{perfomanceDate.time | translate}}</span>
            </h3>

            <span class="title-hall-place">{{perfomance.venue.title}}</span>


        </header>
        <ul class="bought-place-info">
            <li class="booking-place" ng-repeat="orders in orders track by $index">
                <dl>
                    <dt>{{'booking.row' | translate}}</dt><dd>{{orders.row}}</dd>
                    <dt>{{'booking.sit' | translate}}</dt><dd>{{orders.sit}}</dd>
                    <dt>{{'booking.cost' | translate}}</dt><dd>{{orders.cost}} грн</dd>
                </dl>
                <button class="btn btn-link btn-close-place" ng-click="deleteItem($index)"><span class="glyphicon glyphicon-remove"></span></button>
            </li>
        </ul>
        <footer>
            <dl>
                <dt>{{'booking.total' | translate}}</dt><dd>{{total()}} {{'booking.uah' | translate}}</dd>
            </dl>
            <a ui-sref="app.order" ng-if="isCartEmpty()">
                <button class="pay-btn">{{'booking.pay' | translate}}</button>
            </a>

        </footer>

    </div>
   <aside-timer></aside-timer>

</aside>