/* app css stylesheet */
[dw-loading] {
    position: static;
}
.dw-loading.dw-loading-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}
.dw-loading > .dw-loading-body > .dw-loading-text {
    color: #fff;
    text-shadow: none;
}

.performance-block {
    overflow: hidden;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 20px;
    text-align: center;
}
.performance-block a {
    display: block;
}
.performance-img img {
    max-width: 100%;
    max-height: 100%;
}

#slides_control > div {
    max-width: 1000px;
    max-height: 400px;
    margin: 0 auto;
}
#slides_control {
    margin: 25px auto;
}
/*   Calendar   */
#calendar {
    width: 100%;
    font: monospace;
    line-height: 1.2em;
    font-size: 15px;
    text-align: center;
}
#calendar thead tr:last-child {
    font-size: small;
    color: rgb(85, 85, 85);
}
#calendar thead tr:nth-child(1) td:nth-child(2) span.th-calendar-date  {
    color: rgb(50, 50, 50);
}
#calendar thead th {
    width: 14%;
    max-width: 14%;
    text-align: center;
}
#calendar tbody tr {
    border-top: 1px solid rgba(0, 0, 0, 0.60);
}
#calendar tbody td {
    vertical-align: bottom;
    text-align: left;
    color: rgb(44, 86, 122);
    position: relative;
    height: 150px;
    overflow: hidden;
}
#calendar tbody td a {
    text-decoration: none;
}
#calendar tbody td a span {
    padding: 0 5px;
}
#calendar tbody td img {
    /*height: 100px;*/
    width: 100%;
    /*max-width: 150px;*/
    position: absolute;
    top: 0;
}
#calendar tbody td .th-calendar-date,
#calendar tbody td .th-calendar-date-after,
#calendar tbody td .th-calendar-date-before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    padding: 3px;
}
#calendar tbody td .th-calendar-poster-link {
    position: relative;
    z-index: 2;
    min-height: 30px;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    color: wheat;
}
#calendar tbody td .th-calendar-poster-time {
    display: block;
    text-align: right;
    color: rgb(235, 170, 30);
}
#calendar tbody td:hover {
    background-color: rgba(211, 211, 211, 0.2);
}
#calendar tbody td:nth-child(n+6), #calendar .holiday {
    color: rgb(231, 140, 92);
}
#calendar tbody td.today {
    border: solid 2px rgb(220, 0, 0);
    /*color: rgb(50, 50, 50);*/
}
#calendar tbody td.prev-month-day,
#calendar tbody td.next-month-day {
    color: lightgray;
}

