/* app css stylesheet */

.performance-block {
    overflow: hidden;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 20px;
    text-align: center;
}
.performance-block a {
    display: block;
}
.performance-img img {
    max-width: 100%;
    max-height: 100%;
}

#slides_control > div {
    max-width: 1000px;
    max-height: 400px;
    margin: 0 auto;
}
#slides_control {
    margin: 25px auto;
}
/*   Calendar   */
#calendar2 {
    width: 100%;
    font: monospace;
    line-height: 1.2em;
    font-size: 15px;
    text-align: center;
}
#calendar2 thead tr:last-child {
    font-size: small;
    color: rgb(85, 85, 85);
}
#calendar2 thead tr:nth-child(1) td:nth-child(2) span.th-calendar-date  {
    color: rgb(50, 50, 50);
}
#calendar2 thead th {
    width: 14%;
    max-width: 14%;
    text-align: center;
}
#calendar2 tbody tr {
    height: 100px;
    border-top: 1px solid rgba(0, 0, 0, 0.60);
}
#calendar2 tbody td {
    vertical-align: top;
    text-align: left;
    padding: 10px 5px;
    color: rgb(44, 86, 122);
}
#calendar2 tbody td div.th-calendar-poster {
    color: #000000;
}
#calendar2 tbody td:hover {
    background-color: rgba(211, 211, 211, 0.2);
}
#calendar2 tbody td:nth-child(n+6), #calendar2 .holiday {
    color: rgb(231, 140, 92);
}
#calendar2 tbody td.today {
    border: solid 2px rgb(220, 0, 0);
    /*color: rgb(50, 50, 50);*/
}
