<ul class="breadcrumb">
    <li><a ui-sref="app.home">{{ 'menu.home' | translate }}</a></li>
    <li class="active">{{'menu.repertoire' | translate}}</li>
</ul>
<div class="repertoire">
    <h2>{{ 'menu.repertoire' | translate }}</h2>
    <ul>
        <li ng-repeat="performance in repertoire" class="performance-block">
            <img ng-src="{{performance.performancePoster}}" alt="{{performance.title}}"/>
            <a ui-sref="app.singlePerformance({slug: performance.slug})">{{performance.title}}</a>
        </li>
    </ul>
</div>

