<dl class="legend">
    <dt class="place-bought"></dt>
    <dd>{{'hall.boughtSits' | translate}}</dd><!--Квадрат светло-серого цвета - Выкупленные места-->
    <dt class="place-reserved"></dt>
    <dd>{{'hall.reservedSits' | translate}}</dd><!--Квадрат тёмно-серого цвета - Забронированные места-->
    <dt class="place-price1"></dt>
    <dd> 300 {{'booking.uah' | translate}}</dd><!--Квадрат синего цвета - места по цене 300 грн.-->
    <dt class="place-price2"></dt>
    <dd> 200 {{'booking.uah' | translate}}</dd><!--Квадрат розового цвета - места по цене 200 грн.-->
    <dt class="place-price3"></dt>
    <dd> 90 {{'booking.uah' | translate}}</dd><!--Квадрат зелёного цвета - места по цене от 90 грн.-->
</dl>
<h2 class="title title-philharmonic">СЦЕНА</h2>