<header class="main-header">
    <div class="wrapp">
        <h1><a ui-sref="app.home" ui-sref-opts="{reload: true}"><img src="img/logo.png" alt="{'menu.logo' | translate}" /><span ng-bind="'menu.logo' | translate"></span></a></h1>
        <div class="dropdown lang-select uppercase" ng-controller="translateCtrl">
            <a href="#">
                    <span ng-click="chLocale()">
                        {{ 'translId' | translate }}
                    </span>
            </a>
        </div>
        <nav>
            <ul class="uppercase">
                <li ui-sref-active="active"><a ui-sref="app.home"><span ng-bind="'menu.home' | translate"></span></a></li>
                <li ui-sref-active="active"><a ui-sref="app.poster" ui-sref-opts="{reload: true}"><span ng-bind="'menu.poster' | translate"></span></a></li>
                <li ui-sref-active="active"><a ui-sref="app.repertoire"><span ng-bind="'menu.repertoire' | translate"></span></a></li>
                <li ui-sref-active="active"><a ui-sref="app.news"><span ng-bind="'menu.news' | translate"></span></a></li>
                <li ui-sref-active="active"><a ui-sref="app.about"><span ng-bind="'menu.about' | translate"></span></a></li>
                <li ui-sref-active="active"><a ui-sref="app.persons"><span ng-bind="'menu.persons' | translate"></span></a></li>
                <li ui-sref-active="active"><a ui-sref="app.contacts"><span ng-bind="'menu.contacts' | translate"></span></a></li>
                <li ui-sref-active="active"><a ui-sref="app.fest"><span ng-bind="'menu.fest' | translate"></span></a></li>
            </ul>
        </nav>
    </div>
</header>
