<div ng-include="'views/shared/menu.html'"></div>
<main class="single-post">
    <div class="wrapp">
        <ul class="crumb">
            <li><a ui-sref="app.home">{{ 'menu.home' | translate }}</a></li>
            <li><a ui-sref="app.news">{{ 'menu.news' | translate }}</a></li>
            <li class="active">{{ title}}</li>
        </ul>

        <time class="date">{{news.created_at | date: 'dd.MM.yyyy' }}</time>
        <img ng-src="{{news.mainPicture.post_big.url}}" alt="{{ news.title }}">
        <h2 class="page-title">{{ news.title }}</h2>
        <div class="topic post-text" ng-bind-html="news.text"></div>

    </div>
</main>

<div ng-include="'views/shared/footer.html'"></div>
