<div ng-include="'views/shared/menu.html'"></div>
<main class="news" role="main">
    <div class="wrapp">

        <ul class="crumb">
            <li><a ui-sref="app.home">{{ 'menu.home' | translate }}</a></li>
            <li class="active">{{'menu.news' | translate}}</li>
        </ul>

        <!--TODO: insert search field here-->

        <h2 class="page-title">{{'menu.news' | translate}}</h2>

        <section class="news-list">
            <article class="catalog" ng-repeat="item in news">
                <a ui-sref="app.newsDetail({id: item.slug})"><img ng-src="{{item.mainPicture.post_big.url}}"
                                                                  alt="{{item.title}}"></a>
                <h3><a ui-sref="app.newsDetail({id: item.slug})">{{ item.title }}</a></h3>
                <p class="topic" ng-bind-html="item.short_description"></p>
                <footer class="article-footer">
                    <time>{{item.created_at | date: 'dd.MM.yyyy' }}</time>

                </footer>
            </article>
        </section>

        <news-block></news-block>

        <pagination direction-links="true"
                    previous-text="<"
                    next-text=">"
                    ng-change="nextPage(currentPage)"
                    items-per-page="perPage"
                    total-items="total"
                    ng-model="currentPage"
                    num-pages="smallnumPages"
                    ng-show="total > 1">
        </pagination>
    </div>
</main>


<div ng-include="'views/shared/footer.html'"></div>
