    <ol class="breadcrumb">
        <li>
            <a ui-sref="app.home">{{ 'menu.home' | translate }}</a>
        </li>
        <li class="active">{{'menu.news' | translate}}</li>
    </ol>

    <h3 class="text-center">{{'menu.news' | translate}}</h3>

    <div class="container">
        <div class="col-md-8 col-lg-8 col-xs-12">
            <article class="catalog" ng-repeat="item in news">
                <img ng-src="{{item.main_picture.provider_metadata.filename}}" alt="{{item.title}}">
                <h3><a ui-sref="app.newsDetail({id: item.slug})">{{ item.title }}</a></h3>
                <p class="topic">{{ item.short_description }}</p>
                <footer class="article-footer">
                    <time>{{item.created_at | date: 'dd.MM.yyyy' }}</time>
                    <!--<small class="view"><span>112</span></small>-->
                </footer>
            </article>
        </div>
        <div class="col-md-4 col-lg-4 col-xs-12">
            <news-block></news-block>
        </div>
    </div>

    <div class="text-center">
        <pagination direction-links="true"
                    previous-text="{{'pagination.previous' | translate}}"
                    next-text="{{'pagination.next' | translate}}"
                    ng-change="nextPage(currentPage)"
                    items-per-page="perPage"
                    total-items="total"
                    ng-model="currentPage"
                    num-pages="smallnumPages"
                    ng-show="total > 1">
        </pagination>
    </div>
