<ul class="menu-programm">
    <li ng-repeat="poster in posters">
        <div class="block-data">
            <span class="day">{{ poster.date_time | date: 'EEE' | translate }}</span>
            <span class="number">{{ poster.date_time | date: 'd' }}</span>
            <span class="month">{{ poster.date_time | date: 'MMM' | translate }}</span>
        </div>
        <div class="block-description">
            <h3><a ui-sref="app.singlePerformance({slug: poster.performance.slug})">{{ poster.performance.title}}</a></h3>
            <p>{{ poster.performance.type }}</p>
        </div>
    </li>
</ul>