<h2>Person detail</h2>
<div class="image-container" ng-style="{'border' : '1px solid black', 'width': '70%' , 'height': '300px', 'margin': '25px auto'}">
    Слайдер
</div>

<table class="table table-bordered">
    <tr>
        <td colspan="2">{{person.name}}</td>
    </tr>
    <tr>
        <td>{{'persons.since' | translate}} </td>
        <td>{{person.since}} року</td>
    </tr>
    <tr>
        <td>{{'persons.education' | translate}}</td>
        <td>{{person.education}}</td>
    </tr>
    <tr>
        <td>{{'persons.roles' | translate}}: </td>
        <td>{{person.roles}}</td>
    </tr>

</table>