.wrapp .timeline {
    overflow: hidden;
    padding: 20px 0 40px;
}
.wrapp .timeline > li {
    width: 50%;
    float: left;
    clear: left;
}
.wrapp .timeline > li > .timeline-panel {
    width: calc(100% - 70px);
}
.wrapp .timeline > li > .timeline-badge {
    right: -25px;
    left: auto;
}
.wrapp .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.wrapp .timeline > li.timeline-inverted {
    float: right;
    clear: right;
}
.wrapp .timeline > li:nth-child(2){
    margin-top: 100px;
}
.wrapp .timeline > li.timeline-inverted > .timeline-badge {
    right: auto;
}
.wrapp .timeline > li > .timeline-panel .timeline-body {
    max-height: 350px;
    overflow: hidden;
}
.wrapp .timeline h4 a {
    color: #474B4D;
    font-size: 18px;
    margin: 6px 0 0 11px;
}
.wrapp .timeline .timeline-body img {
    display: block;
    width: 100%;
    height: 270px;
}
