/* app css stylesheet */
[dw-loading] {
    position: static;
    min-height: 100%;
}
.dw-loading.dw-loading-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}
.dw-loading > .dw-loading-body > .dw-loading-text {
    color: #fff;
    text-shadow: none;
}

#slides_control > div {
    max-width: 1000px;
    max-height: 400px;
    margin: 0 auto;
}

#slides_control {
    margin: 25px auto;
}

.timeline-badge.info {
    background-color: #df442b !important;
}
