/* app css stylesheet */
[dw-loading] {
    min-height: 100%;
}
.dw-loading.dw-loading-overlay {
    background-color: rgba(255, 255, 255, 0.9);
}
.dw-loading > .dw-loading-body > .dw-loading-text,
.dw-loading > .dw-loading-body > .dw-loading-spinner {
    /*color: #000000;*/
    /*text-shadow: none;*/
    display: none !important;
}

#slides_control > div {
    max-width: 1000px;
    max-height: 400px;
    margin: 0 auto;
}

#slides_control {
    margin: 25px auto;
}

.timeline-badge.info {
    background-color: #df442b !important;
}