.repertoire .program-nav {
    width: 170px;
}
.repertoire .program-nav .season {
    color: #797777;
    font: 14.2px robotoregular;
    margin: 15px 0 0;

}
.repertoire .program-nav span {
    width: 13px;
    height: 21px;
    background: url(../images/repertoire-nav.png) no-repeat;
}
.repertoire .program-nav .next {
    background-position: -26px 0px;
}
.repertoire .program-nav .prev:hover {
    background-position: -13px 0px;
}
.repertoire .program-nav .next:hover {
    background-position: -39px 0px;
}

.repertoire-list {
    overflow: hidden;
    margin: 35px 0px 40px 0px;
}
.repertoire-list li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 163px;
    height: 230px;
    overflow: hidden;
    margin: 0 1px 23px 0;
}
.repertoire-list li img {
    width: 100%;
}
.repertoire-list li h3 {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #2A2A2A;
    padding: 9px;
    margin: -4px 0 0;
    height: 67px;
    text-align: center;
    display: flex;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
}
.repertoire-list li h3 a{
    font-size: 16px;
    color: #FFF;
    margin: auto;
}