<ol class="breadcrumb">
    <li>
        <a ui-sref="app.home">{{ 'menu.home' | translate }}</a>
    </li>
    <li class="active">{{'menu.poster' | translate}}</li>
</ol>
<div class="text-center">
    <span class="poster-on">{{'poster.poster_on' | translate}}</span>
    <a href="#" class="btn btn-default btn-sm" ng-click="prevMonth()"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
    <span class="poster-month-name">{{monthName | translate}}</span>
    <span class="poster-year">{{year}}</span>
    <a href="#" class="btn btn-default btn-sm" ng-click="nextMonth()"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
</div>
<br>

<div dw-loading="spiner" class="row" style="min-height: 100px;">
    <th-poster-calendar monthl="month" yearl="year"></th-poster-calendar><br>
</div>

