<main class="program" role="main">
    <div class="wrapp">
        <ul class="crumb">
            <li><a ui-sref="app.home">{{ 'menu.home' | translate }}</a></li>
            <li class="active">{{'menu.poster' | translate}}</li>
        </ul>        
        <form method="get" action="">
            <fieldset class="search">
                <ul>
                    <li><input type="text" placeholder="{{'search.search' | translate }}" /></li>
                    <li><input type="submit" value="{{'search.search' | translate }}" /></li>
                    <li class="search-results"><p class="number-results">11 {{'search.results' | translate }}</p><span class="close-results"></span></li>
                </ul>
            </fieldset>
        </form>
        <h2 class="page-title">{{'poster.poster_on' | translate}}</h2>
        
        <div class="program-nav">
            <span class="prev" ng-click="prevMonth()"></span>
            <span class="next" ng-click="nextMonth()"></span>
            <p class="mounth">{{monthName | translate}}</p>
            <p class="year">{{year}}</p>
        </div>

        <th-poster-calendar monthl="month" yearl="year"></th-poster-calendar><br>

    </div>
    <a class="up" href="javascript:scroll(0,0)"></a>
</main>